<div class="row">
  <div class="col-md-3">
    <h2>生産実績編集</h2>
    <h4><%= Item.find(params[:item_id]).item_name %>
  </div>
  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr>
          <th>実績数</th>
          <% @mondays.each do |mon| %>
            <th><%= mon %></th>
          <% end %>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% 
        @can_work_charges.each do |can_work_charge|
          @last_monday_act = 0 
          @this_monday_act = 0 
          @next_monday_act = 0 
          @in_2next_monday_act = 0 

          # 担当者ごと、週毎にソートして合計を計算
            can_work_charge.charge.production_act_on_charges.each do |production_act_on_charge|
              if production_act_on_charge.start_date_of_week == @mondays[0]
                @last_monday_act =  @last_monday_act + production_act_on_charge.num
              
              elsif production_act_on_charge.start_date_of_week == @mondays[1]
                @this_monday_act = @this_monday_act + production_act_on_charge.num

              elsif production_act_on_charge.start_date_of_week == @mondays[2]
                @next_monday_act = @next_monday_act + production_act_on_charge.num

              elsif production_act_on_charge.start_date_of_week == @mondays[3]
                @in_2next_monday_act = @in_2next_monday_act + production_act_on_charge.num
              end
            end
          %>
          <tr>
            <th><%= can_work_charge.charge.charge_name %></th>
            <td><%= @last_monday_act %></td>
            <td><%= @this_monday_act %></td>
            <td><%= @next_monday_act %></td>
            <td><%= @in_2next_monday_act %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= form_with(url: production_act_on_charge_path(params[:item_id]), local: true, method: :POST) do |f| %>
      <%= f.select :charge_id, @can_work_charges.map{|can_work_charge| [can_work_charge.charge.charge_name, can_work_charge.charge_id]} %>
      <%= f.select :start_date_of_week, @mondays.map{|monday| [monday, monday]} %>
      <%= f.text_field :num, placeholder: "生産予定数を入力" %>
      <%= f.submit '追加', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
