<div class="row">
  <h2>予定 実績一覧</h2>
</div>
<table class="table">
  <thead>
    <tr>
      <th>実績 / 予定</th>
      <% @mondays.each do |mon| %>
        <th><%= mon %></th>
      <% end %>
      <th></th>
      
    </tr>
  </thead>
  <tbody>
  <% 
  @i = 0
  @j = 0
  @items.each do |item|
   @last_monday_act = 0 
   @this_monday_act = 0 
   @next_monday_act = 0 
   @in_2next_monday_act = 0 
   @last_monday_plan = 0 
   @this_monday_plan = 0 
   @next_monday_plan = 0 
   @in_2next_monday_plan = 0 

  while @i < item.production_plan_on_charges.count   
    if item.production_plan_on_charges[@i].start_date_of_week == @mondays[0]
      @last_monday_plan =  @last_monday_plan + item.production_plan_on_charges[@i].num
    
    elsif item.production_plan_on_charges[@i].start_date_of_week == @mondays[1]
      @this_monday_plan = @this_monday_plan + item.production_plan_on_charges[@i].num

    elsif item.production_plan_on_charges[@i].start_date_of_week == @mondays[2]
      @next_monday_plan = @next_monday_plan + item.production_plan_on_charges[@i].num

    else item.production_plan_on_charges[@i].start_date_of_week == @mondays[3]
      @in_2next_monday_plan = @in_2next_monday_plan + item.production_plan_on_charges[@i].num

    end
   @i = @i + 1
  end

  while @j < item.production_act_on_charges.count   
    if item.production_act_on_charges[@j].start_date_of_week == @mondays[0]
      @last_monday_act =  @last_monday_act + item.production_act_on_charges[@j].num
    
    elsif item.production_act_on_charges[@j].start_date_of_week == @mondays[1]
      @this_monday_act = @this_monday_act + item.production_act_on_charges[@j].num

    elsif item.production_act_on_charges[@j].start_date_of_week == @mondays[2]
      @next_monday_act = @next_monday_act + item.production_act_on_charges[@j].num

    else item.production_act_on_charges[@j].start_date_of_week == @mondays[3]
      @in_2next_monday_act = @in_2next_monday_act + item.production_act_on_charges[@j].num

    end
   @j = @j + 1
  end
   %>
  
      <tr>
        <th><%= item.item_name %></th>
        <td><%= @last_monday_act %> /  <%= @last_monday_plan %></td>
        <td><%= @this_monday_act %> / <%= @this_monday_plan %></td>
        <td><%= @next_monday_act %> / <%= @next_monday_plan %></td>
        <td><%= @in_2next_monday_act %> / <%= @in_2next_monday_plan %></td>
        <td><%= link_to '予定編集', new_production_plan_on_charge_path(item) %></td>
        <td><%= link_to '実績編集', new_production_act_on_charge_path(item) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
