<div class="row">
  <h2>予定 実績一覧</h2>
</div>
<table class="table">
  <thead>
    <tr>
      <th>実績 / 予定</th>
      <% @mondays.each do |mon| %>
        <th><%= mon %></th>
      <% end %>
      <th></th>
      
    </tr>
  </thead>
  <tbody>
  <% @last_monday_act = 0 %>
  <% @this_monday_act = 0 %>
  <% @next_monday_act = 0 %>
  <% @in_2next_monday_act = 0 %>
  <% @last_monday_plan = 0 %>
  <% @this_monday_plan = 0 %>
  <% @next_monday_plan = 0 %>
  <% @in_2next_monday_plan = 0 %>
  
    <% @items.each do |item| %>
      <tr>
        <th><%= item.item_name %></th>
        <td><%= @last_monday_act %> /  <%= @last_monday_plan %></td>
        <td><%= @this_monday_act %> / <%= @this_monday_plan %></td>
        <td><%= @next_monday_act %> / <%= @next_monday_plan %></td>
        <td><%= @in_2next_monday_act %> / <%= @in_2next_monday_plan %></td>
        <td><%= link_to '予定編集', new_production_plan_on_charge_path(item) %></td>
        <td><%= link_to '実績編集', new_production_act_on_charge_path(item) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
