<div class="row">
  <div class="col-md-3">
    <h2>生産予定登録</h2>
    <h4><%= Item.find(params[:item_id]).item_name %>
  </div>
  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr>
          <th>予定数</th>
          <% @mondays.each do |mon| %>
            <th><%= mon %></th>
          <% end %>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% 
        @can_work_charges.each do |can_work_charge|
          @last_monday_plan = 0 
          @this_monday_plan = 0 
          @next_monday_plan = 0 
          @in_2next_monday_plan = 0 

          # 担当者ごと、週毎にソートして合計を計算
            can_work_charge.charge.production_plan_on_charges.each do |production_plan_on_charge|
              if production_plan_on_charge.start_date_of_week == @mondays[0]
                @last_monday_plan =  @last_monday_plan + production_plan_on_charge.num
              
              elsif production_plan_on_charge.start_date_of_week == @mondays[1]
                @this_monday_plan = @this_monday_plan + production_plan_on_charge.num

              elsif production_plan_on_charge.start_date_of_week == @mondays[2]
                @next_monday_plan = @next_monday_plan + production_plan_on_charge.num

              elsif production_plan_on_charge.start_date_of_week == @mondays[3]
                @in_2next_monday_plan = @in_2next_monday_plan + production_plan_on_charge.num
              end
            end
          %>
      
          <tr>
            <th><%= can_work_charge.charge.charge_name %></th>
            <td>
              <%= link_to edit_production_plan_on_charge_path(can_work_charge.charge_id, can_work_charge.item_id, @mondays[0]), class: "text-dark" do %>
                <%= @last_monday_plan %>
              <% end %>
            </td>
            <td>
              <%= link_to edit_production_plan_on_charge_path(can_work_charge.charge_id, can_work_charge.item_id, @mondays[1]), class: "text-dark" do %>
                <%= @this_monday_plan %>
              <% end %>
            </td>
            <td>
              <%= link_to edit_production_plan_on_charge_path(can_work_charge.charge_id, can_work_charge.item_id, @mondays[2]), class: "text-dark" do %>
                <%= @next_monday_plan %>
              <% end %>
            </td>
            <td>
              <%= link_to edit_production_plan_on_charge_path(can_work_charge.charge_id, can_work_charge.item_id, @mondays[3]), class: "text-dark" do %>
                <%= @in_2next_monday_plan %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= form_with(model: @new_production_plan, url: production_plan_on_charge_path(params[:item_id]), local: true, method: :POST) do |f| %>
      <%= f.select :charge_id, @can_work_charges.map{|can_work_charge| [can_work_charge.charge.charge_name, can_work_charge.charge_id]} %>
      <%= f.select :start_date_of_week, @mondays.map{|monday| [monday, monday]} %>
      <%= f.text_field :num, placeholder: "生産予定数を入力" %>
      <%= f.submit '追加', class: 'btn btn-primary' %>
    <% end %>
     <p>
      ※予定を変更する場合、編集したい数値をクリック<br>
      ※新たに予定を追加する場合、このフォームより入力
    </p>
  </div>
</div>
