<header class="navbar navbar-fixed-top navbar-inverse bg-light">
  <div class="container">
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "アイテム一覧",   items_path %></li>
        <li><%= link_to "担当者一覧",   charges_path %></li>
        <li><%= link_to "実績予定一覧", production_plan_on_charges_path %>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>